.site_bar
  .container
    .sixteen.columns
      .one-third.column.alpha#site_name
        %h1 Website Name
        = link_to 'Switch to Site', '#', :class => 'switch_to_site'
      .one-third.column#refinery_logo
        = link_to 'Powered by Refinery CMS', 'http://www.refinerycms.com', :class => 'refinery_logo'
      .one-third.column.omega#login_details
        Hello
        = link_to 'parndt', '#'
        |
        = link_to 'Sign out', '#'
        |
        = link_to 'Help', '#'
