.site_bar
  .container
    .sixteen.columns
      .four.columns.alpha.left
        = link_to 'Website Name', '#', :class => 'site_name'
        = link_to 'Switch to Site', '#', :class => 'switch_to_site'
      .eight.columns.center
        = link_to 'Powered by Refinery CMS', 'http://www.refinerycms.com', :class => 'refinery_logo'
      .four.columns.omega.right
        Hello
        = link_to 'parndt', '#'
        |
        = link_to 'Sign out', '#'
        |
        = link_to 'Help', '#'

.container
  .sixteen.columns
    .four.columns.alpha
      %p
        EN
        |
        %a{:href => '#'} FR
        |
        %a{:href => '#'} PT

      %ul
        %li.first= link_to 'Dashboard', '#'
        %li= link_to 'Pages', '#'
        %li= link_to 'Files', '#'
        %li= link_to 'Images', '#'
        %li= link_to 'Users', '#'
        %li 
          = link_to 'Blog', '#'
          %ul
            %li= link_to 'Categories', '#'
            %li= link_to 'Posts', '#'
            %li= link_to 'Settings', '#'
        %li= link_to 'News', '#'
        %li= link_to 'Copywriting', '#'
          
    .twelve.columns.omega
      %h1.title
        Add a page

      = form_tag('#', :method => :post) do
        = label_tag 'title'
        = text_field_tag 'title', nil, :placeholder => 'Post title', :class => 'widest'

        = render :partial => 'wysiwyg', :locals => {:placeholder_text => 'Say something here!'}

        %div.advanced_options
          %a.folding{:href => '#'} Advanced Options
          %div.folding{:style => 'display: none'}
            .six.columns.alpha
              %h2 Page Settings

              = label_tag 'parent_page'
              = select_tag 'parent_page', options_for_select([['Page 1', 1], ['Page 2', 2], ['Page 3', 3]]), :include_blank => true

              = label_tag 'menu_title'
              = text_field_tag 'menu_title', nil, :placeholder => 'What shows in the menu'

              %fieldset
                = label_tag 'skip_top_level_page'
                = check_box_tag 'skip_top_level_page'
                %span Redirect visitors to the first sub-level page

              = label_tag 'redirect_url', 'Forward this page to another website or page'
              = text_field_tag 'redirect_url', nil, :placeholder => 'e.g. http://google.com or /blog'
            .six.columns.omega
              %h2 Search Engine Optimization

              = label_tag 'browser_title'
              = text_field_tag 'browser_title', nil, :placeholder => 'Browser title'

              = label_tag 'meta_keywords'
              = text_field_tag 'meta_keywords', nil, :placeholder => 'A space-separated list of keywords'

              = label_tag 'meta_description'
              = text_area_tag 'meta_description', nil, :placeholder => 'Describe this page'

