!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title Backend UI Redesign - Refinery CMS
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1'}

    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body.admin
    = render :partial => 'home/site_bar'

    .container
      .sixteen.columns
        .four.columns.alpha#nav
          = render :partial => 'home/nav'
        .twelve.columns.omega#content
          = yield

    = yield :javascripts
